.idea
.vscode
.DS_Store
__pycache__/
**/.DS_Store
/docs/_build/
/hypso/dist/
/hypso/dist/*
/hypso/hypso.egg-info/
/hypso/hypso.egg-info/*
/hypso/hypso/_version.py
/hypso1_calibration/dist/
/hypso1_calibration/dist/*
/hypso1_calibration/hypso1_calibration.egg-info/
/hypso1_calibration/hypso1_calibration.egg-info/*
/hypso1_calibration/hypso1_calibration/_version.py
/hypso2_calibration/dist/
/hypso2_calibration/dist/*
/hypso2_calibration/hypso2_calibration.egg-info/
/hypso2_calibration/hypso2_calibration.egg-info/*
/hypso2_calibration/hypso2_calibration/_version.py
