global-include *.csv
global-include *.ini
global-include *.dat
global-include *.tif
global-include *.txt
global-include *.xls
global-include *.xlsx
global-include *.tar.gz
include hypso/_version.py


recursive-include hypso/classification/WaterDetect/ *
recursive-include hypso/atmospheric/ *